@*@model LostandFoundAnimals.Models.Post*@
@model LostandFoundAnimals.Models.PostViewModel

@{
    ViewData["Title"] = "Create a Listing.";
}
<h2>Create a listing here.</h2>
@*<hr />*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.PostText" class="control-label"></label>
                <input asp-for="Post.PostText" class="form-control" />
                <span asp-validation-for="Post.PostText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Date" class="control-label"></label>
                <input asp-for="Post.Date" class="form-control" />
                <span asp-validation-for="Post.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.LostOrFound" class="control-label"></label>
                <select asp-for="Post.LostOrFound" class="form-control" asp-items="@Html.GetEnumSelectList<LostOrFound>()"></select>
                <span asp-validation-for="Post.LostOrFound" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Resolved" /> @Html.DisplayNameFor(model => model.Resolved)
                </label>
            </div>
        </div>*@
            @*Enter Animal Information*@
            <h3> Enter the pet's information. </h3>

            <div class="form-group">
                <label asp-for="Animal.AnimalName" class="control-label"></label>
                <input asp-for="Animal.AnimalName" class="form-control" />
                <span asp-validation-for="Animal.AnimalName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Animal.Gender" class="control-label"></label>
            <input asp-for="Animal.Gender" class="form-control" />
            <span asp-validation-for="Animal.Gender" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Animal.Gender" class="control-label"></label>
                <select asp-for="Animal.Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="Animal.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Species" class="control-label"></label>
                <select asp-for="Animal.SpeciesID" asp-items="@(new SelectList(Model.SpeciesList, "SpeciesID", "SpeciesName"))" class="form-control"></select>
            </div>
            @*<div class="form-group">
            <label asp-for="Animal.Image" class="control-label"></label>
            <input asp-for="Animal.Image" class="form-control" />
            <span asp-validation-for="Animal.Image" class="text-danger"></span>
        </div>*@
            @*Breed(s)*@
            <div class="form-group">
                <label asp-for="Breed1" class=control-label></label>
                <input asp-for="Breed1.BreedName" class="form-control" />
            </div>
            @*<div class="form-group">
            <label asp-for="Animal.Breeds" class="control-label"></label>
            <input asp-for="Animal.Breeds" class=form-control />
            <span asp-validation-for="Animal.Breeds" class="text-danger"></span>
        </div>*@
            @*@foreach (var bre in Model.Breeds)
        {
            @Html.EditorFor(modelItem => bre.BreedName)
        }*@
            <h3> Enter address details of where they were last seen (For lost animals) or where they were found (for found animals). </h3>
            @*Enter Address Information*@
            <div class="form-group">
                <label asp-for="Address.Line1" class="control-label"></label>
                <input asp-for="Address.Line1" class="form-control" />
                <span asp-validation-for="Address.Line1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Address.ZipOrPostcode" class="control-label"></label>
            <input asp-for="Address.ZipOrPostcode" class="form-control" />
            <span asp-validation-for="Address.ZipOrPostcode" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Address.StateProvinceCounty" class="control-label"></label>
                <input asp-for="Address.StateProvinceCounty" class="form-control" />
                <span asp-validation-for="Address.StateProvinceCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
